* {
    border: none;
    border-radius: 2px;
    padding: 3px 9px;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0px;
    opacity: 0.98;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}



#custom-weather,
#clock,
custom-spotify {
    background: #1e1e2e;
    padding-top: 7px;
    padding-bottom: 7px;

    border: 1px solid #181825;
}


#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 0px;
    border-right: 0px;
}

#custom-weather {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}